$green-dark: #142614;
$green-light: #6FBA69;

$green-dark-2: #336533;

$background-grey: #FEFEFE;
$background-white: #fefefe;

$background-greer-light:rgba(242, 255, 242, 0.35);
$background-greer-light-border: #d4f4c8;

$color-text-black: #333333;
$color-text-white: #FEFEFE;

$color-item-text:#a3900f;
$color-item-background:#fffdef;
$color-item-border:#ede7b3;



