$green-dark: #073d61;
$green-light: #6abff8;

$green-dark-2: #4e81a3;

$background-grey: #FEFEFE;
$background-white: #fefefe;

$background-greer-light:#b8e3ff81;
$background-greer-light-border: #a6f2ff;

$color-text-black: #333333;
$color-text-white: #FEFEFE;

$color-item-text:#a3900f;
$color-item-background:#fffdef;
$color-item-border:#ede7b3;



