@import '../../styles/media';
@import '../../styles/spacing';
@import '../../styles/color';
@import '../../styles/size';
@import '../../styles/template';

.root {
  display: grid;
  gap: 8px;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  max-width: $media-desktop;
  align-content: start;
  width: 100%;
  min-height: 700px;
  @media only screen and (min-width: #{$media-tablet}) {
    grid-auto-flow: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  grid-auto-flow: row dense;
  grid-template-rows: 1fr 1fr;
}
.ImageBlock {
  border: $radius-border;
  overflow: hidden;
  background-image: url('../../../public/main-foto.jpg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  align-content: space-around;
  display: flex;
  border-radius: $radius-border;
  min-height: 500px;
}
.MainBlockInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  min-width: 100%;
}
.Image {
}

.BlockRight {
  background-color: #68b7ca;
  border-radius: $radius-border;
  &:hover {
    background-color: #60a9bb;
    cursor: pointer;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 16px;
}
.BlockLeft {
  display: grid;
  gap: 8px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: 100%;
  min-height: auto;
  align-items: stretch;
  justify-items: stretch;
  grid-auto-flow: row;
  grid-template-rows: 1fr 1fr;
}
.BlockLeftTop {
  background-color: #fcdada;
  border-radius: $radius-border;
  &:hover {
    background-color: #facfcf;
    cursor: pointer;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 16px;
}
.BlockLeftBottom {
  background-color: #e99090;
  border-radius: $radius-border-iner;
  background-repeat: no-repeat;
  background-image: url('../../../public/vinir.jpg');
  background-position: 41% 44%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  display: block;
  flex-direction: row;
  justify-content: end;
  padding: 16px;
  align-content: end;
}
.img1 {
  display: none;
}
.SuperMain {
  width: 100%;
  min-width: 50%;
  background-color: transparent;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 47%, #000000 100%);
  background-position: 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
.TitleMain {
  width: 100%;
}
.header1 {
  color: $green-dark-2;
}
.header2 {
  color: $green-dark-2;
  margin: 0px;
}
.header3 {
  color: #521428;
  margin: 0px;
}
.header4 {
  color: #521428;
}
.divHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: end;
  gap: 8px;
}
.divHeaderLeft {
}
.div1 {
  display: flex;
}
.header5 {
  font-size: 16px;
}
.Link {
}
.div2 {
  display: flex;
}
.div3 {
  display: flex;
}
.div4 {
  margin: 0px;
}
.div5 {
  font-size: 16px;
}
.div6 {
  display: flex;
}
.div7 {
}
.header6 {
  color: #822b2b;
}
.header7 {
  color: #521428;
}
.button1 {
  cursor: pointer;
}
.button2 {
  cursor: pointer;
}
