@import '../../styles/media';
@import '../../styles/spacing';
@import '../../styles/color';
@import '../../styles/size';
@import '../../styles/template';

.root {
  background-color: #ebebeb;
  display: flex;
}
.about {
  width: $media-desktop;
  background-color: #f2f2f2;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  display: grid;
  @media only screen and (min-width: #{$media-tablet}) {
    grid-auto-flow: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  padding: 1rem;
  border-radius: $radius-border;
}
.description {
  padding: 2rem;
}
.image {
  overflow: hidden;
}
.img1 {
  width: 100%;
  border-radius: $radius-border;
}
