.root {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f6f6f6; /* приховати обрізане */
    margin-top: 15px;
}

.header1 {
    //white-space: nowrap;
    font-weight: bolder;
    display: inline;
    font-size: clamp(1rem, 2vw, 2rem); /* змінюється в залежності від ширини */
    line-height: 1;
    text-align: center;
    font-family: Luminari, fantasy;
}
